{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}

    <div class="div-centre">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a
                            href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <h1 class="marginH1">Se connecter</h1>
            <div class="flex-formulaire">
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="champs-formulaire"
                       autocomplete="email" required autofocus>
            </div>
            <div class="flex-formulaire">
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="champs-formulaire"
                       autocomplete="current-password" required>
            </div>
            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}">

            <div class="mentions">
                <label>
                    <input class="checkbox" type="checkbox" name="_remember_me"> Se souvenir de moi
                </label>
            </div>

            <button class="buttonValider marginTop3vh" type="submit">
                Valider
            </button>
        </form>
    </div>

{% endblock %}
