{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}

    <div class="div-centre">
        <form method="post">

{#            {% if app.user %}#}
{#                <div class="mb-3">#}
{#                    You are logged in as {{ app.user.userIdentifier }}, <a#}
{#                            href="{{ path('app_logout') }}">Logout</a>#}
{#                </div>#}
{#            {% endif %}#}

            <h1 class="marginH1">Se connecter</h1>

            {% if error %}
                {% if error.message == 'pas vérifié' %}
                    <div class="messageErreur">Votre compte n'a pas encore été activé, merci de cliquer sur le lien qui vous a été envoyé par mail. </div>
                      <div class="messageErreur marginBottom3vh">Pour renvoyer un lien, Cliquez <a href="{{ path('app_relance_email', {'id': app.session.get('id')}) }}">ici</a></div>
                {% endif %}
            {% endif %}

            <div class="formulaire">
                <div class="flex-formulaire">
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="champs-formulaire"
                           autocomplete="email" required autofocus>
                </div>
                <div class="flex-formulaire">
                    <label for="inputPassword">Mot de passe</label>
                    <input type="password" name="password" id="inputPassword" class="champs-formulaire"
                           autocomplete="current-password" required>
                </div>
            </div>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}">

            <div class="mpdOublie">
                <label>
                    <input class="checkbox" type="checkbox" name="_remember_me"> Se souvenir de moi
                </label>
                <label>
                    <a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié</a>
                </label>
            </div>

            <button class="buttonValider marginTop3vh" type="submit">
                Valider
            </button>
        </form>
    </div>

{% endblock %}
