
    <div class="container-header ombre">
        <div class="boiteHeader">
            <img class="logo" src="{{ asset('image/logo2.png') }}" alt="logo">
        </div>
        <div class="boiteHeader">
            {% if app.user is null %}
                <button class="button"><a class="aHeader" href="{{ path('app_login') }}">Se connecter</a></button>
                <button class="button-inscription"><a class="aHeader" href="{{ path('app_register') }}">S'inscrire</a></button>
            {% else %}
                <button class="button"><a class="aHeader" href="{{ path('app_logout') }}">Se déconnecter</a></button>
                <div class="boutonProfil">{{ app.user.pseudo }}</div>
            {% endif %}
        </div>
    </div>

